@{
    ViewData["Title"] = "Employee";
}
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Employee</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Employee</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="javascript:;" class="btn add-btn" onclick="employee.openModal()"><i
                        class="fa fa-plus"></i> Add Employee</a>
                <div class="view-icons">
                    <a href="employees-list.html" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <div class="btn-group btn-group-sm">
                <form method="get" asp-controller="Employee" asp-action="ExportEmployee" enctype="multipart/form-data">
                    <button class="btn btn-sm btn-white" type="submit">Export</button>
                </form>
                <form method="get" asp-controller="Employee" asp-action="ExportPatternEmployee"
                    enctype="multipart/form-data">
                    <button class="btn btn-sm btn-white" type="submit">Export Pattern</button>
                </form>
            </div>
        </div>

        <div class="col-auto float-right ml-auto">
            <form method="post" asp-controller="Employee" asp-action="ImportEmployee" enctype="multipart/form-data">
                <input type="file" name="file" />
                <button class="btn btn-sm btn-white" type="submit">Import</button>
            </form>

        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="tbEmployee" class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Employee Modal -->
<div id="add_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formEmployee">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" data-rule-required="true" id="firstName"
                                    data-msg-required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input class="form-control" type="text" data-rule-required="true" id="lastName"
                                    data-msg-required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Date of birth<span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" type="text"
                                        data-rule-required="true" id="dateOfBirth" data-msg-required="required"></div>
                                <input type="hidden" id="employeeId" name="employeeId" value="0">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Address <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" data-rule-required="true" id="employeeAddress"
                                    data-msg-required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                <input class="form-control" type="email" data-rule-required="true" id="email"
                                data-msg-required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Place of origin</label>
                                <input class="form-control" type="text" data-rule-required="true" id="placeOfOrigin"
                                    data-msg-required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Avatar</label>
                                <input class="form-control" type="text" id="employeeAvatar"
                                >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Ethnicity</label>
                                <input class="form-control" type="text" data-rule-required="true" id="ethnicity"
                                    data-msg-required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" type="text"
                                        id="joinDate"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Phone </label>
                                <input class="form-control" type="text" data-rule-required="true"
                                    id="employeePhoneNumber" data-msg-required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Gender</label>
                                <select class="select" id="gender">
                                    <option value="true">Male</option>
                                    <option value="false">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Status</label>
                                <select class="select" id="employeeStatus">
                                    <option value="true">Active</option>
                                    <option value="false">Not Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Department <span class="text-danger">*</span></label>
                                <select class="select" id="departmentId">
                                    <option value="0">Select Department</option>
                                    <option value="1">Human Resources</option>
                                    <option value="2">Marketing</option>
                                    <option value="3">Finance</option>
                                    <option value="4">Sales</option>
                                    <option value="5">Technical</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Education Level<span class="text-danger">*</span></label>
                                <select class="select" id="educationLevelId">
                                    <option value="0">Select Education Level</option>
                                    <option value="1">College/ Information Technology</option>
                                    <option value="2">University/ Information Technology</option>
                                    <option value="3">College/ Economic</option>
                                    <option value="4">University/ Economic</option>
                                    <option value="5">College/ Human Resource Management</option>
                                    <option value="6">University/ Human Resource Management</option>
                                    <option value="7">College/ Finance and Banking</option>
                                    <option value="8">University/ Finance and Banking</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->

@section scripts{
<script src="~/js/Employee.js" asp-append-version="true"></script>
}